<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>
<h2>Technologies Used:</h2> 
 
 
 <% @portfolio_item.technologies.each do |t| %> 
 <p><%= t.name %></p> 
 <% end %> 

